<%-include ../partials/head.ejs%>
<%-include ../partials/nav.ejs%>
<div class="container-fluid">
    <h6 class="badge badge-pill badge-success">
        <%= user %>
    </h6>
    <section>
        <h4 class="text-center">Bienvenue <%= user %> </h4>
        <p class="text-center"> <br>La page "Modifiez vos compétences" permet de renseigner vos compétences, cette étape est obligatoire.<br><br>
            La page "Statistiques" permet de consulter vos notes, ainsi que la moyenne des notes votées par les autres utilisateurs.<br><br>
            La page "Comparatifs" permet de consulter les notes des autres utilisateurs, ainsi que voter des notes pour un utilisateur.<br><br>
        </p>
    </section>
</div>
<%-include ../partials/footer.ejs%>
